[Desktop Entry]
Version=1.1
Type=Application
Name=Aura
Icon=/home/tsn/Software/Aura/aura.png
Exec=wine "/home/tsn/Software/Aura/Aura.exe"
Path=/home/tsn/Software/Aura/
Actions=
Categories=AudioVideo;
StartupWMClass=aura.exe
